<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <%- css('app.css') %>
    <title>My Initial App</title>
  </head>
  <body>
  <div class="attach">
  </div>
    <%- js('app.js') %>
  </body>
</html>
