*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.attach {
  height: 100%;
}

.react-body {
  height: 100%;
}
